.items_page {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

@media (max-width: 1120px) {
  .items_page {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 750px) {
  .items_page {
    display: grid;
    grid-template-columns: 1fr;
  }
}
