@import "../../assets/SCSS/variables.scss";

.form {
  padding: 1.5rem;
  min-width: 15rem;
  border-radius: 0.5rem;

  &__inputs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.8rem;
  }

  &__title {
    text-align: center;
    margin-bottom: 1.5rem;
  }

  &__input {
    padding: 0.8rem 1rem;
    border: 2px solid transparent;
    outline: none;
    border-radius: 0.4rem;
    appearance: none;
    width: 12rem;
  }

  &__textarea {
    resize: none;
    min-height: min-content;
  }

  &__button {
    cursor: pointer;
    border: 2px solid transparent;
    transition: all 0.2s ease;
    min-width: 100%;

    &:hover {
      background-color: $background-color;
      color: $text_color;
    }
  }

  &__errors {
    border: 2px solid $button_color-red;
    &::placeholder {
      color: $button_color-red;
    }
  }
}

@media (max-width: 580px) {
  .form__inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .form__button {
    display: block;
  }
}