@import "../../assets/SCSS/variables.scss";

.card {
  background-color: $header_color;
  padding: 1.5rem;
  gap: 1.5rem;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  text-decoration: none;
  height: fit-content;
  border-radius: 8px;
  &__title {
    flex: 1;
  }

  &__info_wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__info {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: $subtext_color;
  }

  &__button {
    cursor: pointer;
    border: none;
    background-color: $button_color-navigate;
    color: $text_color;
    padding: 0.5rem;
    border-radius: 4px; 

transition: all 0.1s ease;

  }

  

  &__icon {
    max-width: 1.2rem;
    max-height: 1.2rem;
    fill: $subtext_color;
  }

  &__icon_user {
    stroke: $subtext_color;
  }
}


@media (max-width: 350px) {
  .card__title {
    font-size: 18px;
  }
  .card__info {
    font-size: 14px;
  }
}

.card:hover .card__button {
    
  background-color: $text_color;
  color: $button_color-navigate-logo;
}