@import './assets/SCSS/variables.scss';

body {
  margin: 0;
  background-color: $background_color;
  color: $text_color;
  @include montserrat-font(16px, 400);
}

h1, h2, h3, p, span {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

input, textarea, button {
  font-family: inherit;
}
